/* Global -------------- */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-color: rgb(238, 236, 227);
    width: 100%;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Slider -------------- */

#slider{
    margin-top: 30px;
    width: 80%;
    max-width: 1400px;
    height: 50vw;
    max-height: 400px; 
    position: relative;
}

#slider img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1000ms;
}

#slider img.selected{
    opacity: 1;
    box-shadow: 10px 10px 15px  rgba(0, 0, 0, 0.5);
}

/* Title ------------------*/

h4{
    text-align: center
}

h3{ 
    text-align: center;
    margin-top:20px;
    font-family: "Sofia", sans-serif;
    font-size: 40px;
    text-shadow: 3px 3px 3px #ababab;
}

img{
    object-fit: contain;
}

/* Card ------------------*/

.container{
    width: 90%;
    align-items: center;
    margin: auto;
    
}

.row{
    width:100%;
    display: flex;
    justify-content: center;
}

.cards{
    width: 100%;
    max-width: 250px; 
    height: 400px;   
    margin: 3%;
    box-shadow: 10px 10px 15px  rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: rgb(238, 236, 227);
}

.card-img-top{
    width: 90%;
    height:300px;
    margin: 5%;
    
}

.cards-grande{
    width: 100%;
    max-width: 300px; 
    height: 250px;   
    margin: 3%;
    background-color: rgb(238, 236, 227);
    box-shadow: 10px 10px 15px  rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.card-img-grande{
    width: 100%;
    height:150px;
    justify-content: center;
    margin-top:10px
}

.card-text{
    text-align: center
}

/* whatsapp------------------ */

.whatsapp-link{
    position: fixed;
    width: 60px;
    height:60px;
    bottom: 40px;
    right: 40px;
    background-color: #25D366;
    color: #fff;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 999;
    border-radius: 50px;
}   

.fa-whatsapp{
    margin-top:16px
}

/* Footer ------------------ */

footer{
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

/*media query ------------*/

@media (max-width: 600px) {
    .row{
        
        justify-content: center;
        align-items: center;
        display: block;
        
    }
    .cards{
        width: 100%;
        max-width: 250px;    
        margin: auto;
        margin-top: 5%;
        
    }
    .cards-grande{
        width: 100%;
        max-width: 250px; 
        height: 250px;   
        margin: auto;
        margin-top: 5%;
        
    
    }
    .card-img-grande{
        width: 100%;
        height:150px;
        justify-content: center;
        margin-top:10px
    }
}